<div class="text-center d-flex justify-content-center">
  <h1 class="card-title my-5 col-11">My emojis</h1>
</div>

<br>
<div class="custom-select row justify-content-md-center" >
  <%= render partial: "emojis/category" %>
</div>
<br>


<div class=cards-scontainer>
  <div id="emojis" class="cards-container">
    <div class="m-3 p-0 text-center">
      <%= link_to "+ Create a new emoji", new_emoji_path, class:"new-emoji card" %>
    </div>

    <% @emojis.each do |emoji| %>
      <div class="card-h m-3 p-0">
        <div class="cnt">
          <%= render emoji %>
        </div>

        <div id="card-hover">
          <div class="btn-orange my-4">
            <%= link_to "Update emoji", edit_emoji_path(emoji), class:"textDark text-decoration-none"  %>
          </div>

          <%# bouton original %>

          <%# <div class="btn-orange">
            <%= button_to "Delete emoji", emoji, method: :delete, class:"textDark text-decoration-none" %>
          <%# </div> %>


          <div class="my-4">
            <%= button_to "Delete emoji", emoji, method: :delete, class:"textDark text-decoration-none btn btn-link btn-orange" %>

            <%# btn btn-link => btn qui ressemble à un link %>
            <%# btn-orange => descendu et delete dans la div = bonne taille %>
            <%# text-dark plutot que textDark => sinon bleu... me demande pas pk %>
            <%# mais problème de blinking qd hover.... %>
          </div>


        </div>
      </div>
    <% end %>
  </div>
</div>




<%# <% current_user.emojis.each do |emoji| %>
<%# <div > %>
  <%# <p> %>
    <%# <strong>Name:</strong> %>
    <%# <%= emoji.name %>
  <%# </p> %>

  <%# <p> %>
    <%# <strong>Description:</strong> %>
    <%# <%= emoji.description %>
  <%# </p> %>

  <%# <p> %>
    <%# <strong>Price:</strong> %>
    <%# <%= emoji.price  %>
    <%# <%= "€" %>
  <%# </p> %>


  <%# <p>
    <strong>Categories:</strong>
    <%= emoji.categories.map(&:name).join(" ") %>
  <%# </p> %>


<%# mettre image ici %>
  <%# <p> %>
    <%# <% if emoji.picture.attached? %>
    <%# <%= cl_image_tag emoji.picture.key, height: 300, width: 400, crop: :fill %>
  <%# <% end %>
  <%# </p> %>
<%# </div> %>
<%# <br> %>

<%# <%= link_to "New emoji", new_emoji_path, class:"btn btn-primary" %>
<%# <%= link_to "Edit", edit_emoji_path(emoji), class:"btn btn-primary"  %>
<%# <%= link_to "Destroy this emoji", emoji , method: :delete, class:"btn btn-primary" %>
<%# <%= button_to "Destroy this emoji", emoji, method: :delete %>
<%# <% end %>

<%# <div>
  <%= link_to "Back", emojis_path, class:"btn btn-primary" %>
<%# </div> %>
