<div id="<%= dom_id emoji %>">
  <p>
    <strong>Name:</strong>
    <%= emoji.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= emoji.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= emoji.price %>
  </p>

  <p>
    <strong>User:</strong>
    <%= emoji.user_id %>
  </p>

</div>
