
  <div id="<%= dom_id emoji %>" class="card p-0">

        <div id="card-top" class="d-flex justify-content-center">
          <p><% if emoji.picture.attached? %>
              <%= cl_image_tag emoji.picture.key, height: 220, width: 220, crop: :fill, class:"card-image"%>
          <% end %></p>
        </div>

        <div id="card-bottom" class="my-0">
          <h2><strong><%= emoji.name.capitalize %></strong></h2>
          <p>
            <%= emoji.description[0..60].capitalize %>...<br>
          </p>
          <div class="d-flex justify-content-center align-items-end p-0">
            <div id="card-price">
              <strong><%= emoji.price %><%= "€" %></strong>
            </div>
          </div>
        </div>
    <div id="card-hover" >
      <%= link_to "Show this emoji", emoji, class:"btn btn-warning"%>
    </div>
  </div>



    <%# <p>
      <strong>User:</strong>
      <%= emoji.user.first_name %>
    <%# </p> %>

      <%# <%= link_to emoji_path(emoji) do %>
      <%# <% end %>
