
<%= simple_form_for(@emoji) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :picture, as: :file %>
    <%# <label for="tag">Choose a category:</label> %>

      <select name="emoji[tag]" id="tag"> 
        <% if %>
          <option value="default">--Please choose a category--</option>
        <% else %>
          <option value="default">--Please choose a category--</option>
        <% end %>
        <option value="licorn">licorn</option>
        <option selected value="panda">panda</option>
        <option value="hedgehog">hedgehog</option>
        <option value="sloth">sloth</option>
      </select>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
