<p style="color: green"><%= notice %></p>
<div class="d-flex flex-column justify-content-center">
  <div class="text-center d-flex justify-content-center">
    <h1 class="card-title my-5 col-11">Welcome to Emojiland</h1>
  </div>
  <div class="text-center d-flex justify-content-center">
    <p class="col-11">"Welcome to Emojiland, the online store dedicated to emoji enthusiasts! Discover our exclusive collection of unique and fun emojis to personalize your messages, social media, and more. Express yourself with style and creativity with our wide selection of emojis that will make every conversation even more lively!"</p>
  </div>

  <br>
  <%# <%= "4 CATEGORIES" %>
  <%# <label for="Categories">Choose a category:</label> %>
        <select name="emoji[category]" id="category">
          <option value="">Category</option>
          <option value="licorn">licorn</option>
          <option value="panda">panda</option>
          <option value="?">?</option>
          <option value="??">??</option>
        </select>
  <br>

  <div>
    <div id="emojis" class="d-flex f-wrap justify-content-center">
      <% @emojis.each do |emoji| %>
        <div class="card-h m-3 p-0">
          <div class="cnt">
            <%= render emoji %>
          </div>
          <div id="card-hover">
            <%= link_to "Book emoji", emoji, class:"textDark text-decoration-none" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<%# <%= link_to "New emoji", new_emoji_path, class:"btn btn-primary" %>
<%# <p>
          <%= link_to "Show this emoji", emoji %>
        <%# </p> %>
