<%# <p style="color: green"><%= notice %>
<div class="d-flex flex-column justify-content-center">
  <div class="text-center d-flex justify-content-center">
    <h1 class="card-title my-4 col-12">Welcome to Emojiland</h1>
  </div>
  <div class="text-center d-flex justify-content-center">
    <p class="col-11">"Welcome to Emojiland, the online store dedicated to emoji enthusiasts! Discover our exclusive collection of unique and fun emojis to personalize your messages, social media, and more. Express yourself with style and creativity with our wide selection of emojis that will make every conversation even more lively!"</p>
  </div>


  <br>
  <div class="custom-select row justify-content-center" >
    <%= render "category" %>
  </div>
  <br>
  <div class="cards-scontainer">
    <div class="cards-container">
      <% @emojis.each do |emoji| %>
        <div class="card-h m-3 p-0">
          <div class="cnt">
            <%= render emoji %>
          </div>
          <div id="card-hover" class="btn-orange">
            <%= link_to "Book emoji", emoji, class:"textDark text-decoration-none" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<%# <%= link_to "New emoji", new_emoji_path, class:"btn btn-primary" %>
<%# <p>
          <%= link_to "Show this emoji", emoji %>
        <%# </p> %>
