

<div class="container" data-controller="datepicker">
  <div>
    <h1>Book your emoji</h1>
    <%= link_to "< Back to all", emojis_path, class:"btn btn-primary" %>
  </div>
  <div class="d-flex justify-content-center align-items-center">
  <%# card de details de l'emoji %>
    <div class="card-detail me-5">
      <div id="card-top">
        <% if @emoji.picture.attached? %>
          <%= cl_image_tag @emoji.picture.key, height: 250, width: 250, crop: :fill, class:"card-image"%>
        <% end %>
      </div>
      <div id="card-bottom" class="relative">
        <h1><%=@emoji.name%></h1>
        <p><%= @emoji.description%></p>

        <div class="d-flex justify-content-center align-items-end p-0 ">
          <div id="card-price">
            <p data-datepicker-target="emojiprice"><strong><%= @emoji.price %>€</strong><p>
          </div>
        </div>

      </div>
    </div>

    <%# card de réservation %>
    <div class ="booking-card ms-5">
      <h3>Book this emoji</h3>
      <%= simple_form_for [@emoji, @booking] do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class="form-inputs">
          <%= f.input :date_start_on,
                      as: :string,
                      input_html: {data: {datepicker_target: "calendar"}}
                      %>
        </div>

        <p data-datepicker-target="price"> </p>
        <div class="form-actions">
          <%= f.button :submit %>
        </div>
      <% end %>

    </div>
  </div>
</div>
