<p style="color: green"><%= notice %></p>

<%= render @emoji %>

<div>
  <%# <%= button_to "Edit", edit_emoji_path(@emoji), method: :get %>
  <%# <%= button_to "Destroy this emoji", @emoji, method: :delete %>

  <%= button_to "Back", emojis_path, method: :get %>
</div>
