

<div class="container" data-controller="datepicker">
  <h1><%=@emoji.name%></h1>
  <div>
    <% if @emoji.picture.attached? %>
      <%= cl_image_tag @emoji.picture.key, height: 300, width: 400, crop: :fill %>
    <% end %>
    <p><%= @emoji.description%>
    </p>
    <p data-datepicker-target="emojiprice"><%= @emoji.price %><p>
  </div>

  <%# card de réservation %>
  <div >
    <h3>Réserver cet emoji</h3>
    <%= simple_form_for [@emoji, @booking] do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="form-inputs">
        <%= f.input :date_start_on,
                    as: :string,
                    input_html: {data: {datepicker_target: "calendar"}}
                    %>


<%= link_to "Back to emojis", emojis_path, class:"btn btn-primary" %>



      </div>

      <p data-datepicker-target="price"> </p>
      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    <% end %>

  </div>

</div>

